{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-8 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">{{ post.title }}</h2>
                <p class="blog-post-meta">{{ post.publicationDate | date }}</p>
                <p>{{ post.body }}</p>
                {% if is_granted('edit', post) %}
                    <a href="{{ path('blog_edit_post', {'postId': post.id}) }}">edit</a>
                {% else %}
                    <a href="{{ path('blog_edit_post', {'postId': post.id}) }}"><strike>edit</strike></a>
                {% endif %}
            </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

    </div><!-- /.row -->
{% endblock %}
